body {
    background-image: url(../img/mhwi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
}
h1{
    color: rgb(215, 236, 247);
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
.menu {

    margin: 30px;
    padding: 20px;
    width: 80px;
    text-align: left;
    display: inline-block;
}
.menu a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(247, 247, 236);
}
.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}
footer{
    margin-top: 20px;
    text-align: center;
    color: beige;
}
main{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-left: 100px;
    margin-right: 100px;
}
li {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-left: 100px;
    margin-right: 100px;
}
.marco{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}